body {
    padding:50px 80px;
    font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;
}

/* get rid of those system borders being generated for A tags */
a:active {
    outline:none;
}

:focus {
    -moz-outline-style:none;
}

body {
    background-color: #ccc;
    font-size: 88%;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    color: #4e4e4e;
    padding: 0;
}
